<div class="container">
    <h3 class="mb-3">{{#if isEditing}}Editing Expense #{{expense.id}}{{else}}Creating New Expense{{/if}}</h3>
    {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    {{/if}}
    <form action="{{#if isEditing}}/expenses/edit-expense/{{expense._id}}{{else}}/expenses/add-expense{{/if}}"
        method="POST">

        <div class="mb-3">
            <label for="Merchant" class="form-label">Merchant</label>
            <input type="text" class="form-control" name="merchant" id="Merchant"
                value="{{#if fillValues }}{{expense.merchant }}{{/if}}">
        </div>
        <div class="mb-3">
            <label for="Amount" class="form-label">Amount</label>
            <input type="float" class="form-control" name="amount" id="Amount"
                value="{{#if fillValues }}{{expense.amount }}{{/if}}">
        </div>
        <div class="mb-3">
            <label for="Category" class="form-label">Category</label>
            <select id="Category" class="form-select" aria-label="Default select example" name="category">
                {{#each expenseCategories}}
                <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="mb-3">
            <label for="Latitude" class="form-label">Latitude</label>
            <input readonly type="float" class="form-control" name="latitude" id="Latitude"
                value="{{#if fillValues}}{{expense.latitude}}{{/if}}">
        </div>

        <div class="mb-3">
            <label for="Longitude" class="form-label">Longitude</label>
            <input readonly type="float" class="form-control" name="longitude" id="Longitude"
                value="{{#if fillValues}}{{expense.longitude}}{{/if}}">
        </div>
        <div id="map" style="height: 500px;"></div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="btn btn-primary">
            {{#if isEditing}}
            Edit
            {{else}}
            Create
            {{/if}}
        </button>
    </form>
</div>
<script>
    var map = L.map('map').setView([51.761, -0.488], 7);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);


    {{#if isEditing}}
    const lat = {{ expense.latitude }}
    const lng = {{ expense.longitude }}
    const marker = L.marker([lat, lng]).addTo(map)
    {{/if}}

    const popup = L.popup()
    function onMapClick(e) {
        console.log(e.latlng)
        const latInput = document.getElementById("Latitude")
        const lngInput = document.getElementById("Longitude")
        latInput.value = e.latlng.lat
        lngInput.value = e.latlng.lng
        popup
            .setLatLng(e.latlng)
            .setContent("Your location has been succesfully set")
            .openOn(map)
        }
        map.on('click', onMapClick)

        function redirectToPage(page) {
            window.location.href = page;
        }
</script>