<div class="container">
    <p>Id:{{expense._id}}</p>
    <p>Merchant:{{expense.merchant}}</p>
    <p>Amount:{{expense.amount}}</p>
    <p>Currency:{{expense.currency}}</p>
    <p>Created at:{{expense.createdAt}}</p>
    <button type="submit" class="btn btn-primary mb-3"
        onclick="redirectToPage('/expenses/edit-expense/{{expense._id}}')">Edit</button>
    <button type="submit" class="btn btn-primary mb-3"
        onclick="redirectToPage('/expenses/delete-expense/{{expense._id}}')">Delete</button>
    <div id="map" style="height: 500px;" class="mb-5"></div>
</div>
<script>
    const lat = {{ expense.latitude }}
    const lng = {{ expense.longitude }}
    var map = L.map('map').setView([lat, lng], 16);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    const marker = L.marker([lat, lng]).addTo(map)

    function redirectToPage(page) {
        window.location.href = page;
    }

</script>